* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.e-store {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15em;
    margin-top: 15vh;
    flex-wrap: wrap;
}

.minecraft {
    background-color: #11284c;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 8em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    position: relative;
}

.minecraft img {
    transition-duration: 0.5s;
    border-radius: 0.5em;
}

.minecraft img:hover {
    transform: scale(1.05);
}

.minecraft p {
    position: absolute;
    bottom: 3.5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    font-size: 120%;
    white-space: nowrap;
    color: white;
}

.discord {
    background-color: #11284c;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 8em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    position: relative;
}

.discord img {
    transition-duration: 0.5s;
    border-radius: 0.5em;
}

.discord img:hover {
    transform: scale(1.05);
}

.discord p {
    position: absolute;
    bottom: 3.5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    font-size: 120%;
    white-space: nowrap;
    color: white;
}

.valorant {
    background-color: #11284c;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 8em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    position: relative;
}

.valorant img {
    transition-duration: 0.5s;
    border-radius: 0.5em;
}

.valorant img:hover {
    transform: scale(1.05);
}

.valorant p {
    position: absolute;
    bottom: 3.5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    font-size: 120%;
    white-space: nowrap;
    color: white;
}

.marvel {
    background-color: #11284c;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 8em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    position: relative;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.marvel img {
    transition-duration: 0.5s;
    border-radius: 0.5em;
}

.marvel img:hover {
    transform: scale(1.05);
}

.marvel p {
    position: absolute;
    bottom: 3.5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    font-size: 120%;
    white-space: nowrap;
    color: white;
}

.steam {
    background-color: #11284c;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 8em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    position: relative;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.steam img {
    transition-duration: 0.5s;
    border-radius: 0.5em;
}

.steam img:hover {
    transform: scale(1.05);
}

.steam p {
    position: absolute;
    bottom: 3.5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    font-size: 120%;
    white-space: nowrap;
    color: white;
}

.roblox {
    background-color: #11284c;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 8em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    position: relative;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.roblox img {
    transition-duration: 0.5s;
    border-radius: 0.5em;
}

.roblox img:hover {
    transform: scale(1.05);
}

.roblox p {
    position: absolute;
    bottom: 3.5em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    font-size: 120%;
    white-space: nowrap;
    color: white;
}

.madeby {
    background-color: #11284c;
    height: 20vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30em;
    animation: newappear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.dev {
    animation: newappear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.dev p {
    margin-left: 2em;
    margin-top: 0.3em;
    font-size: 150%
}

.des {
    animation: newappear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.des p {
    margin-left: 2em;
    margin-top: 0.3em;
    font-size: 150%
}

@media (max-width: 900px) {
    .madeby {
        gap: 10em;
    }

    .minecraft {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }

    .discord {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }

    .valorant {
       animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }

    .roblox {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }

    .marvel {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }

    .steam {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }
}

@media (max-width: 600px) {
    .madeby {
        gap: 5em;
    }

    .dev h1 {
        font-size: 140%;
    }

    .dev p {
        margin-left: 1em;
    }

    .des h1 {
      font-size: 140%;  
    }

    .des p {
        margin-left: 1em;
    }

    .minecraft {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }

    .discord {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }

    .valorant {
       animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }

    .roblox {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }

    .marvel {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }

    .steam {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes newappear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}