* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../assets/Untitled-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.v-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.v-title sup {
    margin-left: 6px;
    font-size: 60%;
    margin-bottom: 15px;
}

.prices {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, .1);
    backdrop-filter: blur(3px);
    gap: 3em;
}

.one {
    font-size: 140%;
    background-color: #11284c;
    padding: 1em;
    border-radius: 0.5em;
    color: white;
}
.two {
    font-size: 140%;
    background-color: #11284c;
    padding: 1em;
    border-radius: 0.5em;
    color: white;
}
.three {
    font-size: 140%;
    background-color: #11284c;
    padding: 1em;
    border-radius: 0.5em;
    color: white;
}
.four {
    font-size: 140%;
    background-color: #11284c;
    padding: 1em;
    border-radius: 0.5em;
    color: white;
}
.five {
    font-size: 140%;
    background-color: #11284c;
    padding: 1em;
    border-radius: 0.5em;
    color: white;
}
.six {
    font-size: 140%;
    background-color: #11284c;
    padding: 1em;
    border-radius: 0.5em;
    color: white;
}

@media (max-width: 600px) {
    .prices {
        gap: 2.7em;
    }
}
